---
import Slide from "@layouts/Slide.astro";
import SlideHeader from "@atoms/SlideHeader.astro";
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

const logos = Object.values(
	import.meta.glob<ImageMetadata>('@assets/logos/*.{png,svg,jpg,jpeg,webp}', { eager: true, import: 'default' })
);
---


<Slide>
    <SlideHeader title="Built" subtitle="Brands I've worked for" />
    <div class="grid grid-cols-2 sm:grid-cols-4 place-items-center gap-6 sm:gap-8 max-h-[60vh] w-full max-sm:mt-6 sm:mt-10 overflow-y-auto">
        {
			logos.map((brand) => (
				<Image class={"h-12 w-24 sm:h-20 sm:w-40 lg:h-24 lg:w-48 object-contain"} src={brand} alt="Brand logo" />
			))
        }
    </div>
</Slide>