---
import Slide from "@layouts/Slide.astro";
---

<Slide>
    <h2 class="text-heading-2 font-family-epilogue">Currently</h2>
    <p class="text-body-xxxl font-family-dm">Product Lead @ Dcycle</p>
</Slide>
