---
import Slide from "@layouts/Slide.astro";
import SlideHeader from "@atoms/SlideHeader.astro";
import { Image } from "astro:assets";
import { LINKS } from "@constants/index";

// Direct imports using relative paths from src/assets
import victhechefImage from "@assets/projects/victhechef.webp";
import paceonImage from "@assets/projects/paceon.webp";

const projects = [
    { image: victhechefImage, link: LINKS[0], name: "VicTheChef" },
    { image: paceonImage, link: LINKS[1], name: "Paceon" },
];
---

<Slide>
    <SlideHeader title="Projects" subtitle="Cool projects I'm working on" />
    <div class="flex max-sm:flex-col justify-center items-center gap-8 max-sm:gap-6 mx-auto max-sm:mt-6">
        {projects.map(({image, link, name}) => (
            <a
                class="flex-1 max-sm:w-full max-sm:max-w-[140px] max-w-[300px] sm:mt-10 group"
                href={link}
                target="_blank"
                rel="noopener noreferrer"
            >
            <Image src={image} alt={name} class="w-full h-auto group-hover:scale-110 transition-transform duration-300 ease-out" />
            </a>
        ))}
    </div>
</Slide>
