---
import Slide from "@layouts/Slide.astro";
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";
const projects = Object.values(import.meta.glob<ImageMetadata>('@assets/projects/*.{png,svg,jpg,jpeg,webp}', { eager: true, import: 'default' }));

---

<Slide>
    <h2 class="text-heading-2 font-family-epilogue">Projects</h2>
    <p class="text-body-xxxl font-family-dm">Cool projects I'm working on</p>
    <div class="flex items-center gap-4">
        {projects.map((project) => (
            <Image src={project} alt="Project" />
        ))}
    </div>
</Slide>
