---
import WhatsAppDesktop from "./WhatsAppDesktop.astro";
import WhatsAppMobile from "./WhatsAppMobile.astro";
---

<div class="group">
    <!-- Mobile: Direct WhatsApp link -->
    <WhatsAppMobile />

    <!-- Desktop: Hover menu -->
    <WhatsAppDesktop />
</div>