<button 
    id="pacman" 
    class="group block w-[120px] h-[120px] rounded-full absolute left-0 bottom-0 -rotate-45 -translate-x-1/4 translate-y-1/4 bg-[url('/src/assets/pacman.png')] bg-cover bg-center z-10"
    >
    <span id="pacman-text" class="opacity-0 rotate-45 font-family-vt323 group-hover:opacity-100 absolute -right-20 text-primary-black text-body-l duration-200">Click me pls</span>
</button>
