<div id="toast" class="fixed top-10 left-1/2 -translate-x-1/2 py-3 px-8 bg-primary-black rounded-xl flex items-center shadow-lg transition-all duration-200">
    <p class="flex items-center gap-2 text-primary-white text-body-m">To exit full screen press 'f' or <span class="border border-primary-white p-2 rounded-sm">esc</span></p>
</div>

<script>
import { isMaximized } from "../../store"

    const toast = document.getElementById('toast')
    let timeout: NodeJS.Timeout | null = null

    isMaximized.subscribe(value => {
        toast?.classList.toggle('opacity-0', !value)
        if(value) {
            timeout = setTimeout(() => {
                toast?.classList.add('opacity-0')
            }, 2000)
        }
        if(!value && timeout) clearTimeout(timeout)
    })
</script>