---
import Whatsapp from "@assets/whatsapp.svg";
---

<a 
        href="https://wa.me/34682294382" 
        target="_blank" 
        rel="noopener noreferrer"
        class="absolute bottom-6 left-6 text-primary-black hover:text-whatsapp-green hover:scale-110 transition-all duration-200 sm:hidden"
    >
        <Whatsapp 
            id="whatsapp-icon-mobile" 
        />
    </a>